[submodule "lora_gateway"]
	path = lora_gateway
	url = https://github.com/Lora-net/lora_gateway
	branch = master
[submodule "packet_forwarder"]
	path = packet_forwarder
	url = git@github.com:ABalanuta/packet_forwarder.git
	branch = master
